.container {
    display: flex;
}

.card {
    width: 200px;
    height: 200px;
    background: rgb(216, 214, 214);
    margin: 5px;
    border: 1px solid black;
}

.folderPanel {
    display: inline-block;
    transform-origin: left;
    transition: transform 1s;
    transform: perspective(1000px) rotateY(0deg);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.folderPanelClosed {
    transform: perspective(1000px) rotateY(90deg);
}