html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#container {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    color: #F2D338;
    font-size: 50px;
    font-weight: 900;
    animation: flicker 3s ease-in-out forwards infinite;
    color: #FFFFFF;
    text-shadow: 0 0 5px #ffffff, 0 0 30px #ffffff, 2px -17px 1px rgba(206,89,55,0);
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: .99;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}